.footer__column-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__column-link:hover{
  text-decoration: underline;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz--transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
